<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>URL</th>
      <th>Selector</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{ target['url'] }}">{{ target["url"] }}</a></td>
      <td><code>{{ target["selector"] }}</code></td>
    </tr>
  </tbody>
</table>
