{% include "context.html" %}
<div id="delta"></div>
<script>
  {
    const deltaString = `{{ delta }}`;
    const targetElement = document.getElementById("delta");
    const configuration = {
      drawFileList: false,
      fileContentToggle: false,
      highlight: true,
      matching: "lines",
      outputFormat: "side-by-side",
    };
    const diff2htmlUi = new Diff2HtmlUI(
      targetElement,
      deltaString,
      configuration
    );
    diff2htmlUi.draw();
  }
</script>
