<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Polaweb</title>
  <link rel="icon" href="{{ url_for('static', path='/favicon.svg') }}" />
  <!-- Bootstrap -->
  <link
    href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css')}}"
    rel="stylesheet"
  />
  <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.min.js') }}"></script>
  <!-- htmx -->
  <script src="{{ url_for('static', path='/htmx/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', path='/htmx/json-enc.js') }}"></script>
  <!-- Day.js -->
  <script src="{{ url_for('static', path='/day-js/dayjs.min.js') }}"></script>
  <script src="{{ url_for('static', path='/day-js/relativeTime.js') }}"></script>
  <script>
    dayjs.extend(window.dayjs_plugin_relativeTime);
  </script>
  <!-- diff2html -->
  <link
    href="{{ url_for('static', path='/diff2html/diff2html.min.css') }}"
    rel="stylesheet"
  />
  <script src="{{ url_for('static', path='/diff2html/diff2html-ui.min.js') }}"></script>
</head>
