<!DOCTYPE html>
<html>
  {% include "head.html" %}
  <body class="container-fluid p-3">
    <div class="mb-3 row">
      <div class="col">
        <form
          class="border p-3"
          hx-ext="json-enc"
          hx-post="/api/targets"
          hx-swap="none"
        >
          <div class="row">
            <div class="col-6">
              <label for="url" class="form-label">URL</label>
              <input
                autocomplete="off"
                class="form-control"
                name="url"
                type="url"
                value=""
              />
            </div>
            <div class="col-5">
              <label for="selector" class="form-label">Selector</label>
              <input
                autocomplete="off"
                class="form-control"
                name="selector"
                type="text"
                value="*"
              />
            </div>
            <div class="col align-items-end d-flex">
              <button id="form-button" class="btn btn-primary flex-fill">
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% include content %}
  </body>
</html>
