{% include "context.html" %}
<table class="mb-0 table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hash</th>
    </tr>
  </thead>
  <tbody>
    {% for snapshot in snapshots %}
    <tr>
      <td data-date>{{ snapshot["date"] }}</td>
      <td><code>{{ snapshot["hash"] }}</code></td>
    </tr>
    {% endfor %}
  </tbody>
  <script>
    {
      const cells = document.querySelectorAll("td[data-date]");
      cells.forEach(function (cell) {
        const date = Number(cell.textContent);
        if (Number.isInteger(date)) {
          cell.textContent = dayjs.unix(date).fromNow();
        }
      });
    }
  </script>
</table>
