<tr>
  <td><a href="{{ target['url'] }}">{{ target["url"] }}</a></td>
  <td><code>{{ target["selector"] }}</code></td>
  <td data-change-date>{{ target["change_date"] }}</td>
  <td>
    <div class="btn-group d-flex" role="group">
      <button
        class="btn btn-primary btn-sm flex-fill"
        {{ "disabled" if not target["change_date"] }}
        hx-get="/targets/{{ target['uuid'] }}/difference"
        hx-push-url="true"
        hx-target="closest table"
        hx-swap="outerHTML"
      >
        Difference
      </button>
      <button
        class="btn btn-secondary btn-sm flex-fill"
        hx-get="/targets/{{ target['uuid'] }}/snapshots"
        hx-push-url="true"
        hx-target="closest table"
        hx-swap="outerHTML"
      >
        Snapshots
      </button>
    </div>
  </td>
  <td>
    <div class="btn-group d-flex" role="group">
      <button
        class="btn btn-secondary btn-sm flex-fill"
        {{ "disabled" if not target["change_date"] }}
        hx-confirm="Are you sure you want to reset the change date?"
        hx-delete="/targets/{{ target['uuid'] }}/change-date"
        hx-swap="outerHTML"
        hx-target="closest tr"
      >
        Reset
      </button>
      <button
        class="btn btn-danger btn-sm flex-fill"
        hx-confirm="Are you sure you want to delete the target?"
        hx-delete="/api/targets/{{ target['uuid'] }}"
        hx-swap="outerHTML"
        hx-target="closest tr"
      >
        Delete
      </button>
    </div>
  </td>
</tr>
