<table
  class="mb-0 table table-bordered table-hover table-sm"
  hx-get="/targets"
  hx-swap="outerHTML"
  hx-trigger="submit from:form"
>
  <thead>
    <tr>
      <th>URL</th>
      <th>Selector</th>
      <th>Change date</th>
      <th>Views</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    {% for target in targets %} {% include "target.html" %} {% endfor %}
  </tbody>
  <script>
    {
      const cells = document.querySelectorAll("td[data-change-date]");
      cells.forEach(function (cell) {
        const date = Number(cell.textContent);
        if (Number.isInteger(date)) {
          cell.textContent = dayjs.unix(date).fromNow();
        }
      });
    }
  </script>
</table>
